<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.dev.mapper.StoreMapper">

    <!-- 일반 식당 검색 -->
    <select id="selectListStore" parameterType="com.store.dev.dto.SearchDTO" resultType="com.store.dev.dto.StoreDTO">
        SELECT * 
        FROM store
        <where>
            1 = 1
            <if test="keyword != null and keyword != ''">
                AND store.name LIKE CONCAT('%', #{keyword}, '%')
                AND store.jibeon LIKE CONCAT('%', #{keyword}, '%')
                AND store.doro LIKE CONCAT('%', #{keyword}, '%')
            </if> 
            <if test="category != null and category.size() > 0">
                AND store.category IN
                <foreach collection="category" item="cate" separator="," open="(" close=")">
                    #{cate}
                </foreach>
            </if>
            <!-- <if test="type1 != 'my'">
                AND store.adm_code like #{type1}
            </if>
            <if test="type2 != null">
                AND store.adm_code like  #{type2}
            </if> -->
        </where>
    </select>



    <!-- 내 반경 검색 -->
    <select id="selectListStoreByDistance" parameterType="com.store.dev.dto.SearchDTO" resultType="com.store.dev.dto.StoreDTO">
        SELECT 
            jibeon, doro, name, category, lon, lat
        FROM 
            store
        <where>
            ST_DWithin(
                    ST_SetSRID(ST_MakePoint(lon, lat), 3857),
                    ST_SetSRID(ST_MakePoint(#{lon},#{lat}), 3857),
                    #{type2}) AND
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%', #{keyword}, '%')
            </if> 
            <if test="category != null and category.size() > 0">
                AND category IN
                <foreach collection="category" item="cate" separator="," open="(" close=")">
                    #{cate}
                </foreach>
            </if>
        </where>
    </select>


    <!-- <select id="selectOneStoreListCount" parameterType="com.store.dev.dto.SearchDTO" resultType="int">
        SELECT count(*)
        FROM store 
        <where>
            <if test='keyword != null'>name like CONCAT('%',#{keyword},'%')</if> 
            <if test='category != null and category.size() > 0'>
                <foreach collection="category" item="cate" separator="," open="(" close=")">
                    #{cate}
                </foreach>
            </if>
            <if test='type1 != "my"'>
                LEFT(adm_code, 2) = com_sd_nsdi.bjcd AND
                LEFT(adm_code, 5) = com_sgg_nsdi.bjcd
            </if>
            <if test='type1 == "my"'>
            </if>
        </where>
    </select> -->


    <!-- 반경 식당 조회 -->
    <!-- <select id="selectListStoreByDistance" parameterType="com.store.dev.dto.SearchDTO" resultType="com.store.dev.dto.StoreDTO">
        SELECT 
            count(*)
        FROM 
            store
        <where>
            ST_DWithin(
                    ST_SetSRID(ST_MakePoint(lon, lat), 3857),
                    ST_SetSRID(ST_MakePoint(#{lon},#{lat}), 3857),
                    #{type2}) AND
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%', #{keyword}, '%')
            </if> 
            <if test="category != null and category.size() > 0">
                AND category IN
                <foreach collection="category" item="cate" separator="," open="(" close=")">
                    #{cate}
                </foreach>
            </if>
        </where>
    </select> -->



</mapper>
