<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.dev.mapper.StoreMapper">

    <!-- 일반 식당 검색 -->
    <select id="selectListStore" parameterType="com.store.dev.dto.SearchDTO" resultType="com.store.dev.dto.StoreDTO">
        SELECT store.* 
        FROM store
        <where>
            <if test="keyword != null and keyword != ''">
                (store.name LIKE CONCAT('%', #{keyword}, '%')
                OR store.jibeon LIKE CONCAT('%', #{keyword}, '%')
                OR store.doro LIKE CONCAT('%', #{keyword}, '%'))
            </if> 
            <if test="category != null and category.size() > 0">
                AND store.category IN
                <foreach collection="category" item="cate" separator="," open="(" close=")">
                    #{cate}
                </foreach>
            </if>
            <!-- <if test="type1 == 'all'">

            </if> -->
            <if test="type1 != 'all' and type2 == 'all' ">
                AND LEFT(adm_code,2) = #{type1} 
            </if>
            <if test="type1 != 'all' and type2 != 'all' ">
                AND LEFT(adm_code,2) = #{type1} 
                AND  LEFT(adm_code, 5) = #{type2}
            </if>
        </where>
        LIMIT #{maxIndex} OFFSET ( #{page} - 1 ) * 10
    </select>

    <!-- 일반 식당 전체 카운트 검색 -->
    <select id="selectListStoreByCount" parameterType="com.store.dev.dto.SearchDTO" resultType="int">
        SELECT count(store.*) 
        FROM store
        <where>
            <if test="keyword != null and keyword != ''">
                (store.name LIKE CONCAT('%', #{keyword}, '%')
                OR store.jibeon LIKE CONCAT('%', #{keyword}, '%')
                OR store.doro LIKE CONCAT('%', #{keyword}, '%'))
            </if> 
            <if test="category != null and category.size() > 0">
                AND store.category IN
                <foreach collection="category" item="cate" separator="," open="(" close=")">
                    #{cate}
                </foreach>
            </if>
            <!-- <if test="type1 == 'all'">

            </if> -->
            <if test="type1 != 'all' and type2 == 'all' ">
                AND LEFT(adm_code,2) = #{type1} 
            </if>
            <if test="type1 != 'all' and type2 != 'all' ">
                AND LEFT(adm_code,2) = #{type1} 
                AND  LEFT(adm_code, 5) = #{type2}
            </if>
        </where>

    </select>
<!-- 내 반경 검색 -->
<select id="selectListStoreByDistance" parameterType="com.store.dev.dto.SearchDTO" resultType="com.store.dev.dto.StoreDTO">
    SELECT 
        seq,
        jibeon, 
        doro, 
        name, 
        category, 
        lon, 
        lat,
        ROUND(
            CAST(
                public.ST_Distance(
                    public.ST_SetSRID(
                        public.ST_MakePoint(lon, lat), 3857
                    ),
                    public.ST_Transform(
                        public.ST_SetSRID(
                            public.ST_MakePoint(#{lon}, #{lat}), 4326
                        ), 3857
                    )
                ) AS numeric
            ), 1
        ) AS distance
    FROM 
        store
    <where>
        public.ST_DWithin(
            public.ST_SetSRID(
                public.ST_MakePoint(lon, lat), 3857
            ),
            public.ST_Transform(
                public.ST_SetSRID(
                    public.ST_MakePoint(#{lon}, #{lat}), 4326
                ), 3857
            ),
            #{type2}::float8
        )
        <if test="keyword != null and keyword != ''">
            AND name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="category != null and category.size() > 0">
            AND category IN
            <foreach collection="category" item="cate" separator="," open="(" close=")">
                #{cate}
            </foreach>
        </if>
    </where>
    ORDER BY distance ASC, name ASC
    LIMIT #{maxIndex} OFFSET ( #{page} - 1 ) * 10
</select>





    <!-- 내 반경 카운트 검색 -->
    <select id="selectListStoreCountByDistance" parameterType="com.store.dev.dto.SearchDTO" resultType="int">
     SELECT 
        count(*)
    FROM 
        store
    <where>
        public.ST_DWithin(
            public.ST_SetSRID(
                public.ST_MakePoint(lon, lat), 3857
            ),
            public.ST_Transform(
                public.ST_SetSRID(
                    public.ST_MakePoint(#{lon}, #{lat}), 4326
                ), 3857
            ),
            #{type2}::float8
        )
        <if test="keyword != null and keyword != ''">
            AND name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="category != null and category.size() > 0">
            AND category IN
            <foreach collection="category" item="cate" separator="," open="(" close=")">
                #{cate}
            </foreach>
        </if>
    </where>
    </select>





    <!-- 시군구 Seq 조건검색 -->
    <select id="selectListSggBySdBjcd" parameterType="String" resultType="com.store.dev.dto.SggDTO">
        SELECT 
            gid, ufid, bjcd, name, lon, lat
        FROM 
            com_sgg_nsdi
        WHERE 
            LEFT(bjcd, 2) = #{bjcd}
    </select>


    <!-- sd 개수 조회 -->
<select id="selectListSdCluster" parameterType="com.store.dev.dto.SearchDTO" resultType="com.store.dev.dto.AdmDTO">
    SELECT
        LEFT(store.adm_code, 2) as code,
        prov.name as name,
        prov.lon as lon,
        prov.lat as lat,
        prov.geom as geom,
        COUNT(*) as count
    FROM store
    JOIN com_sd_nsdi prov ON LEFT(store.adm_code, 2) = prov.bjcd
    <where>
        <if test="keyword != null and keyword != ''">
            (store.name LIKE CONCAT('%', #{keyword}, '%')
            OR store.jibeon LIKE CONCAT('%', #{keyword}, '%')
            OR store.doro LIKE CONCAT('%', #{keyword}, '%'))
        </if> 
        <if test="category != null and category.size() > 0">
            AND store.category IN
            <foreach collection="category" item="cate" separator="," open="(" close=")">
                #{cate}
            </foreach>
        </if>
        <if test="type1 != 'all' and type2 == 'all' ">
            AND LEFT(store.adm_code, 2) = #{type1} 
        </if>
        <if test="type1 != 'all' and type2 != 'all' ">
            AND LEFT(store.adm_code, 2) = #{type1} 
            AND LEFT(store.adm_code, 5) = #{type2}
        </if>
    </where>
    GROUP BY LEFT(store.adm_code, 2), prov.name, prov.lon, prov.lat, prov.geom
</select>

    <!-- sgg 개수 조회  -->
<select id="selectListSggCluster" parameterType="com.store.dev.dto.SearchDTO" resultType="com.store.dev.dto.AdmDTO">
    SELECT
        LEFT(store.adm_code, 5) as code,
        sgg.name as name,
        sgg.lon as lon,
        sgg.lat as lat,
        sgg.geom as geom,
        COUNT(*) as count
    FROM store
    JOIN com_sgg_nsdi sgg ON LEFT(store.adm_code, 5) = sgg.bjcd
    <where>
        <if test="keyword != null and keyword != ''">
            (store.name LIKE CONCAT('%', #{keyword}, '%')
            OR store.jibeon LIKE CONCAT('%', #{keyword}, '%')
            OR store.doro LIKE CONCAT('%', #{keyword}, '%'))
        </if> 
        <if test="category != null and category.size() > 0">
            AND store.category IN
            <foreach collection="category" item="cate" separator="," open="(" close=")">
                #{cate}
            </foreach>
        </if>
        <if test="type1 != 'all' and type2 == 'all' ">
            AND LEFT(store.adm_code, 2) = #{type1} 
        </if>
        <if test="type1 != 'all' and type2 != 'all' ">
            AND LEFT(store.adm_code, 2) = #{type1} 
            AND LEFT(store.adm_code, 5) = #{type2}
        </if>
    </where>
    GROUP BY LEFT(store.adm_code, 5), sgg.name, sgg.lon, sgg.lat, sgg.geom
</select>



    <!-- 특정 sgg 개수 조회 -->

</mapper>
