/* 기본 색상 정의 */
:root {
    --main-bg-color: #f8f9fa; /* 배경색 */
    --primary-color: #0056b3; /* 주 색상 */
    --secondary-color: #e9ecef; /* 보조 색상 */
    --text-color: #343a40; /* 기본 텍스트 색상 */
    --accent-color: #ffc107; /* 강조 색상 */
    --button-gray: #6c757d; /* 회색 버튼 색상 */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 폰트 변경 */
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

#map {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

#sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    padding: 20px;
    border-right: 1px solid var(--secondary-color);
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 8px;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
}

img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.filter-body {
    display: flex;
}

.filter-options {
    width: 250px;
}


.filter-group button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5%;
    transition: background-color 0.3s;
}

.filter-group {
    width: 100px;
}

.filter-group button:hover, .button-active {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.filter-dropdown {
    overflow-y: auto;
    height: 90px;
    width: 100%;
}

.filter-options, .form-select {
    margin-top: 2%;
}



.search-results {
    border-top: 1px solid var(--secondary-color);
    padding-top: 10px;
}

.search-item {
    background-color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
.search-item:hover {
    background-color: #d4edf7;
    cursor: pointer;
}



.prev-button, .next-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.prev-button:hover, .next-button:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}




.search-items-container {
    height: 580px;
    max-height: 580px;
    overflow-y: auto;
}



.restaurant-name{
    font-size : 18px;
    font-weight: bold;
}





/* 페이징 버튼 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px; /* 버튼 사이 간격 */
}

.prev-button, .next-button {
    background-color: var(--button-gray); /* 회색 배경 */
    color: white; /* 흰색 글씨 */
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* 배경색 변경 및 변환 효과 추가 */
}

.prev-button:hover, .next-button:hover {
    background-color: var(--primary-color);
    transform: scale(1.05); /* 버튼 클릭 효과 */
    cursor: pointer;
}

/* 페이지 번호 스타일 */
.page-number {
    background-color: white;
    border: 1px solid var(--button-gray);
    border-radius: 5px;
    color: var(--text-color);
    cursor: default;
    font-size : 16px;
    width: 42.19px;
    max-width: 42.19px;
}

.popup-container {
    background-color: white; /* 배경색 */
    border: 1px solid var(--secondary-color); /* 테두리 색상 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 */
    padding: 10px; /* 내부 여백 */
    width: 250px; /* 너비 */
}

.popup-title {
    font-size: 16px; /* 제목 크기 */
    color: var(--primary-color); /* 제목 색상 */
    font-weight: bold; /* 글씨 굵기 */
    margin-bottom: 5px; /* 제목 아래 여백 */
}

.popup-address,
.popup-jibun {
    font-size: 14px; /* 텍스트 크기 */
    color: var(--text-color); /* 텍스트 색상 */
    margin-bottom: 2px; /* 문단 간 여백 */
}


/* 현재 페이지 번호 스타일 */
.page-number.active {
    background-color: #414542;
    color: white;
}

.page-number:hover{
    background-color: #6d6d6d;
    transform: scale(1.05);
    cursor: pointer;
}

/* 팝업 스타일 */
.ol-popup {
    position: absolute;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: var(--text-color);
    bottom: 12px;
    font-size: 14px;
    left: -50px;  /* X축 조정 */
    white-space: normal; /* 줄 바꿈 허용 */
    max-width: 300px; /* 최대 너비 지정 */
    word-wrap: break-word; /* 단어 단위로 줄 바꿈 */
}

.popup-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-item {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    color: var(--text-color);
}

.popup-item:hover {
    background-color: #d4edf7;
    color: white;
    cursor: pointer;
}

.popup-title {
    font-weight: bold;
    margin-bottom: 5px; /* 제목 아래 여백 추가 */
}

#address-info {
    position: absolute;
    top: 10px; /* 상단으로부터의 거리 */
    right: 10px; /* 우측으로부터의 거리 */
    background-color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 15px; /* 내부 여백 조정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
    z-index: 1000; /* 지도 위에 표시하기 위해 높은 z-index 설정 */
    font-size: 14px; /* 텍스트 크기 조정 */
    color: var(--text-color); /* 텍스트 색상 */
}

#address-info h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
}

#address-info p {
    margin: 0;
    font-size: 14px;
}
#address-info:hover{
    background-color: #d4edf7;
    cursor: pointer;
};






/* 마커 */

/* HTML marker styles */
.price-tag {
  background-color: #4285F4;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.price-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285F4;
}

.ol-popup:hover {
    cursor: pointer;
}