<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>OpenLayers Map</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v6.10.1/dist/ol.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/ol@v9.1.0/dist/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js"></script>
    <script src="/js/proj.js"></script>
    <script src="/js/set.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/map.js"></script>
</head>

<body>

    <div id="sidebar">
        <!-- <img th:src="@{/img/logo.png}" alt="로고" style="cursor: pointer; width: 250px; height: 100px;"> -->
        <h2>LOGO</h2>
        <!-- 검색창 -->
        <div class="search-container">
            <input id="keyword" type="text" class="search-input" placeholder="Search...">
            <!-- 검색 버튼 이미지 -->
            <img id="searchBtn" th:src="@{/img/search.png}" alt="검색" style="cursor: pointer; width: 24px; height: 24px;">

            <!-- 초기화 버튼 이미지 -->
            <img id="resetBtn" th:src="@{/img/reset.png}" alt="초기화" style="cursor: pointer; width: 24px; height: 24px;">

        </div>
        <!-- 지역별 드롭다운 -->
        <div class="filter-body">
            <div class="filter-group">
                <button class="button-active " onclick="toggleDropdown('locationDropdown', this)">지역별</button>
                <button onclick="toggleDropdown('categoryDropdown', this)">종류별</button>
            </div>
            <div class="filter-options">
                <div id="locationDropdown" class="filter-dropdown">
                    <select class="form-select" id="type1">
                        <option value="all" selected>전체</option>
                        <option value="my">내 반경</option>
                        <option value="11">서울특별시</option>
                        <option value="26">부산광역시</option>
                        <option value="27">대구광역시</option>
                        <option value="28">인천광역시</option>
                        <option value="29">광주광역시</option>
                        <option value="30">대전광역시</option>
                        <option value="31">울산광역시</option>
                        <option value="41">경기도</option>
                        <option value="51">강원특별자치도</option>
                        <option value="43">충청북도</option>
                        <option value="44">충청남도</option>
                        <option value="45">전라북도</option>
                        <option value="46">전라남도</option>
                        <option value="47">경상북도</option>
                        <option value="48">경상남도</option>
                        <option value="50">제주특별자치도</option>
                    </select>
                    <select class="form-select" id="type2">
                        <option value="" disabled selected>시/군/구</option>
                        <!-- TODO DB 시군구 조회해서 뿌리기 -->
                        <option value="gangnam">강남구</option>>
                    </select>
                </div>
                <div id="categoryDropdown" class="filter-dropdown" style="display: none;">
                    <div class="checkbox-group">
                        <label><input type="checkbox" value="감성주점"> 감성주점</label><br>
                        <label><input type="checkbox" value="경양식"> 경양식</label><br>
                        <label><input type="checkbox" value="기타"> 기타</label><br>
                        <label><input type="checkbox" value="김밥(도시락)"> 김밥(도시락)</label><br>
                        <label><input type="checkbox" value="까페"> 까페</label><br>
                        <label><input type="checkbox" value="냉면집"> 냉면집</label><br>
                        <label><input type="checkbox" value="라이브카페"> 라이브카페</label><br>
                        <label><input type="checkbox" value="복어취급"> 복어취급</label><br>
                        <label><input type="checkbox" value="분식"> 분식</label><br>
                        <label><input type="checkbox" value="뷔페식"> 뷔페식</label><br>
                        <label><input type="checkbox" value="식육(숯불구이)"> 식육(숯불구이)</label><br>
                        <label><input type="checkbox" value="외국음식전문점(인도,태국등)"> 외국음식전문점(인도,태국등)</label><br>
                        <label><input type="checkbox" value="이동조리"> 이동조리</label><br>
                        <label><input type="checkbox" value="일식"> 일식</label><br>
                        <label><input type="checkbox" value="전통찻집"> 전통찻집</label><br>
                        <label><input type="checkbox" value="정종/대포집/소주방"> 정종/대포집/소주방</label><br>
                        <label><input type="checkbox" value="중국식"> 중국식</label><br>
                        <label><input type="checkbox" value="출장조리"> 출장조리</label><br>
                        <label><input type="checkbox" value="키즈카페"> 키즈카페</label><br>
                        <label><input type="checkbox" value="탕류(보신용)"> 탕류(보신용)</label><br>
                        <label><input type="checkbox" value="통닭(치킨)"> 통닭(치킨)</label><br>
                        <label><input type="checkbox" value="패밀리레스트랑"> 패밀리레스트랑</label><br>
                        <label><input type="checkbox" value="패스트푸드"> 패스트푸드</label><br>
                        <label><input type="checkbox" value="한식"> 한식</label><br>
                        <label><input type="checkbox" value="호프/통닭"> 호프/통닭</label><br>
                        <label><input type="checkbox" value="횟집"> 횟집</label><br>
                    </div>

                </div>
            </div>

        </div>


        <!-- 검색 결과 -->
        <div class="search-results">
            <p>전체 검색 결과: <span class="total-count">0</span>건</p>
            <div class="search-items-container">
                <div class="search-item">
                    <p class="restaurant-name">식당 이름 1</p>
                    <p>주소: 서울특별시 강남구 어딘가 1</p>
                </div>
                <div class="search-item">
                    <p class="restaurant-name">식당 이름 2</p>
                    <p>주소: 서울특별시 서초구 어딘가 2</p>
                </div>
                <div class="search-item">
                    <p class="restaurant-name">식당 이름 3</p>
                    <p>주소: 서울특별시 용산구 어딘가 3</p>
                </div>
                <div class="search-item">
                    <p class="restaurant-name">식당 이름 4</p>
                    <p>주소: 서울특별시 용산구 어딘가 4</p>
                </div>
                <div class="search-item">
                    <p class="restaurant-name">식당 이름 5</p>
                    <p>주소: 서울특별시 용산구 어딘가 5</p>
                </div>
                <div class="search-item">
                    <p class="restaurant-name">식당 이름 6</p>
                    <p>주소: 서울특별시 용산구 어딘가 6</p>
                </div>
                <div class="search-item">
                    <p class="restaurant-name">식당 이름 7</p>
                    <p>주소: 서울특별시 용산구 어딘가 7</p>
                </div>
                <div class="search-item">
                    <p class="restaurant-name">식당 이름 8</p>
                    <p>주소: 서울특별시 용산구 어딘가 8</p>
                </div>
                <div class="search-item">
                    <p class="restaurant-name">식당 이름 9</p>
                    <p>주소: 서울특별시 용산구 어딘가 9</p>
                </div>
                <div class="search-item">
                    <p class="restaurant-name">식당 이름 10</p>
                    <p>주소: 서울특별시 용산구 어딘가 10</p>
                </div>
            </div>
            <div class="pagination">
                <button class="prev-button">이전</button>
                <span class="page-number">1</span>
                <button class="next-button">다음</button>
            </div>


        </div>


    </div>

    <div id="map" class="map"></div>
    <div id="address-info" class="address-info">현재 위치 조회</div>
</body>


<template id="searchItemTpl">
    <div class="search-item">
        <p class="restaurant-name">식당 이름 1</p>
        <p>주소: 서울특별시 강남구 어딘가 1</p>
    </div>
</template>

<template id="popUp">
    <div class="popup-container">
        <h3 class="popup-title">식당 이름</h3>
        <p class="popup-address">도로명 주소: 서울특별시 강남구 어딘가 123</p>
        <p class="popup-jibun">지번 주소: 서울특별시 강남구 어딘가 123-45</p>
    </div>
</template>


<template id="distance">
    <option value="" disabled selected>선택</option>
    <option value="0.5">0.5(km)</option>
    <option value="1">1(km)</option>
    <option value="1.5">1.5(km)</option>
    <option value="2">2(km)</option>
</template>


</html>